<!doctype html>

<html 
  lang="tr" class="system-style layout-menu-fixed layout-compact dark-style" dir="ltr"  data-theme="theme-default" data-assets-path="./assets/" data-template="horizontal-menu-template">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Elchavopy Token Activator</title>
    <meta name="description" content="" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./assets/img/favicon/favicon.ico" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />
    <!-- Icons -->
    <link rel="stylesheet" href="./assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="./assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="./assets/vendor/fonts/flag-icons.css" />
    <!-- Core CSS -->
    <link rel="stylesheet" href="./assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="./assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="./assets/css/demo.css" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="./assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="./assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="./assets/vendor/libs/toastr/toastr.css" />
    <!-- Vendor -->
    <link rel="stylesheet" href="./assets/vendor/libs/@form-validation/form-validation.css" />
    <!-- Page CSS -->
    <link rel="stylesheet" href="./assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="./assets/vendor/js/helpers.js"></script>
    <script src="./assets/vendor/js/template-customizer.js"></script>
    <script src="./assets/js/config.js"></script>   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <!-- Content -->
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                <!-- Login -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center mb-4 mt-2">
                            <a href="/" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <img src="./assets/img/branding/logo.png" alt="Elchavopy" class="logo-img" width='47'
                                        height='47' />
                                </span>
                                <span class="app-brand-text demo text-body fw-bold ms-1">Elchavopy Activator</span>
                            </a>
                        </div>
                        <!-- /Logo -->
                       
                        <p class="mb-4">Lütfen hesabınızda oturum açın ve maceraya başlayın</p>
                        <form id="formAuthentication" class="mb-3">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="" autofocus />
                            </div>
                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Şifre</label>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password" id="password" class="form-control" name="password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" id="loginButton" type="button">Giriş Yap</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>

    <script>
        document.getElementById("loginButton").addEventListener("click", function(event) {
            event.preventDefault(); 
    
            var form = document.getElementById("formAuthentication");
            var formData = new FormData(form);
    
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/login", true);
            xhr.setRequestHeader("Content-Type", "application/json");
    
            xhr.onreadystatechange = function () {
      
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        Swal.fire({
                            icon: "success",
                            title: "Başarılı",
                            text: "Hoşgeldin",
                        })
                        setTimeout(function() {
                            window.location.href = "/dashboard";
                        }, 2500)
                    } else if (xhr.status === 401) {
                        var response = JSON.parse(xhr.responseText);
                        Swal.fire({
                            icon: "error",
                            title: "Hata!",
                            text: response.message,
                            theme: "dark"
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Sunucu Hatası",
                            text: "Bakımdayız",
                            theme: "dark"
                        });
                    }
                }
            };
    
            xhr.send(JSON.stringify(Object.fromEntries(formData.entries())));
        });
    </script>
    <script src="./assets/vendor/libs/jquery/jquery.js"></script>
    <script src="./assets/vendor/libs/popper/popper.js"></script>
    <script src="./assets/vendor/js/bootstrap.js"></script>
    <script src="./assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="./assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="./assets/vendor/libs/hammer/hammer.js"></script>
    <script src="./assets/vendor/libs/i18n/i18n.js"></script>
    <script src="./assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="./assets/vendor/js/menu.js"></script>
    <!-- Vendors JS -->
    <script src="./assets/vendor/libs/@form-validation/popular.js"></script>
    <script src="./assets/vendor/libs/@form-validation/bootstrap5.js"></script>
    <script src="./assets/vendor/libs/@form-validation/auto-focus.js"></script>
    <script src="./assets/vendor/libs/toastr/toastr.js"></script>
    <!-- Main JS -->
    <script src="./assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="./assets/js/pages-auth.js"></script>
</body>

</html>